<%= form_tag "/movies" do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag 'movie[name]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :director %>
    <%= text_field_tag 'movie[director]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :genre %>
    <%= text_field_tag 'movie[genre]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :year %>
    <%= text_field_tag 'movie[year]', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :image_url %>
    <%= text_field_tag 'movie[image_url]', nil, class: 'form-control' %>
  </div>
  <%= submit_tag "Create Movie", class: 'btn btn-default' %>
<% end %>
